body{
    background-color: 	black;
    overflow-x: hidden;
}
#pp{
    width: 180px;
    height: 180px;
    margin-left: 30px;
    border-radius: 100%;
    margin-top: -190px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    box-shadow: 3px 3px 3px;
}
#header{
    height: 733px;
    background: url("/bg/techbg.mp4");
    width: 1518px;
    margin-top: -8px;
    margin-left: -8px;
}
#bgtech{
    position: absolute;
    width: 1536px;
    margin-top: -228px;
    z-index: -1;
}
#menu{
    position: absolute;
    margin-left: 230px;
    margin-top: -95px;
    width: 1275px;
}
table td{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #02577a;
}
.menu2:hover{
    background-color: cadetblue;
}
.menu2{
    text-align: center;
    width: 20%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-size: 23px;

}
iframe{
    position: absolute;
    margin-top: -30px;
    width: 1250px;
    height: 600px;
    margin-left: 30px;
}